Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is an organized collection of structured information, or data, typically stored electronically in a computer system. A database is usually controlled by a database management system (DBMS). 

SQL : It stands for “Structured Query Language” is the programming language that’s been widely used in managing data in relational database management systems (RDBMS)

NoSQL : It stands for "Not only structured query language". it is a non-relational database, meaning it allows different structures than a SQL database (not rows and columns) and more flexibility to use a format that best fits the data.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL stands for the "data difinition language" is command in the Structured Query Language are used to create and modify the schema of the database and its objects.
1. CREATE : it is a DDL command used to create databases, tables, triggers and other database objects.

            for example - 
            
                          CREATE DATABASE Employee;            
                          CREATE TABLE Student(  
                          Roll_No. Int ,    
                          First_Name Varchar (20) ,    
                          Last_Name Varchar (20) ,    
                          Age Int ,  
                          Marks Int ,   
                          ) ;    
2. DROP : it is a DDL command used to delete/remove the database objects from the SQL database. We can easily remove the           entire table, view, or index from the database using this DDL command.

            for example -   DROP DATABASE Employee;
                            DROP TABLE Student;  
                            
3. ALTER : ALTER is a DDL command which changes or modifies the existing structure of the database, and it also changes              the schema of database objects. We can also add and drop constraints of the table using the ALTER command.

            for example -   ALTER TABLE Student MODIFY ( Last_Name varchar(25));
                            ALTER TABLE Student ADD Father's_Name Varchar(60);  

4. TRUNCATE : TRUNCATE is DDL command which deletes or removes all the records from the table. This command also removes               the space allocated for storing the table records.

            for example -   TRUNCATE TABLE Student;  
                            The above query successfully removed all the records from the student table.

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stands for Data Manupulation Language. It is used to manupulate the data in the existing schema objects. DML also refers to a computer programming language that allows you to add (insert), delete (delete), and alter (update) data in a database. 

INSERT :- This command can be used to insert data into a row of a table. INSERT INTO would insert the values that are               mentioned in the ‘Student’ table below.

          Syntax:
          INSERT INTO NAME_OF_TABLE (1_column, 2_column, 3_column, …. N_column)
          VALUES (1_value, 2_value, 3_value, …. N_value);
          Example:
          INSERT INTO Student(Stu_Name, DOB, Phone, Mail)
          VALUES(‘Abhishek’, ‘1998-05-26’, 123456789, ‘user@xyz.com’);
                        

UPDATE :- This statement in SQL is used to update the data that is present in an existing table of a database. The UPDATE           statement can be used to update single or multiple columns on the basis of our specific needs.

            Syntax:
            UPDATE name_of_table SET 1_coumn = 1_value, 2_coumn = 2_value, 3_coumn = 3_value, … , N_coumn = N_value
            WHERE condition;
            Example:
            UPDATE Student SET Phone = 987654321 WHERE Stu_Name = ’Abhishek’;
DELETE :- The DELETE statement can be used in SQL to delete various records from a given table. On the basis of the                 condition that has been set in the WHERE clause, one can delete single or multiple records.

            Syntax:
            DELETE FROM name_of_table [WHERE condition];
            Example:
            DELETE FROM Student WHERE Stu_Name = ’Abhishek’;

Q4. What is DQL? Explain SELECT with an example.

DQL stands for Data Query Language. It is used to fetch the data from the database. It uses the SELECT command to fetch the data from the database.

SELECT: This is the same as the projection operation of relational algebra. It is used to select the attribute based on the condition described by WHERE clause.

        Syntax:
            SELECT expressions    
            FROM TABLES    
            WHERE conditions;  
        For example:
            SELECT Student_name  
            FROM student  
            WHERE age > 20;

Q5. Explain Primary Key and Foreign Key.

Primary Key:

    A primary key constrain is a column or group of columns that uniquely identifies every row in the table of the relational database management system. It cannot be a duplicate, meaning the same value should not appear more than once in the table. A table can not have more than one primary key. Primary key can be defined at the column or the table level. If you create a composite primary key, it should be defined at the table level.

Foreign Key:

    A foreign key is a column or a set of columns in a table whose values correspond to the values of the primary key in another table. In order to add a row with a given foreign key value, there must exist a row in the related table with the same primary key value. A foreign key is generally used to build a relationship between the two tables. The major purpose of the foreign key is to sustain data integrity between two separate instances of an entity.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="root"
)
print(mydb)

Cursor(): A Database Cursor is a special type of control structure that facilitates the row by row processing of record in the resultset, i.e., the set of records retrived as per query. We create cursor by writing cursor = mydb.cursor().

Execute(): Rhe execute() is used to execute the sql query or command.

        Syntax:
            cursor.execute(operation, params=None, multi=False)
            iterator = cursor.execute(operation, params=None, multi=True)

Q7. Give the order of execution of SQL clauses in an SQL query.

The order in which the clauses in queries are executed is as follows:

1. FROM/JOIN: The FROM and/or JOIN clauses are executed first to determine the data of interest.

2. WHERE: The WHERE clause is executed to filter out records that do not meet the constraints.

3. GROUP BY: The GROUP BY clause is executed to group the data based on the values in one or more columns.

4. HAVING: The HAVING clause is executed to remove the created grouped records that don’t meet the constraints.

5. SELECT: The SELECT clause is executed to derive all desired columns and expressions.

6. ORDER BY: The ORDER BY clause is executed to sort the derived values in ascending or descending order.

7. LIMIT/OFFSET: Finally, the LIMIT and/or OFFSET clauses are executed to keep or skip a specified number of rows.